# Impact of factors on retention

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns


#from sklearn.preprocessing import MinMaxScaler
#import geopandas as gpd

## Read in and process dependent variable - turnover

Read turnover data from csv into a dataframe.

In [2]:
# annual and monthly data

annual_url = '../01_data/processed_annual_turnover.csv'
monthly_url = '../01_data/processed_monthly_turnover.csv'

annual_df = pd.read_csv(annual_url, parse_dates=['month_year'])
annual_df = annual_df.drop(['n'],axis=1)
#annual_df.info()

monthly_df = pd.read_csv(monthly_url, parse_dates=['month_year'])
monthly_df = monthly_df.drop(['n'],axis=1)
monthly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147107 entries, 0 to 147106
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   org_code     147107 non-null  object
 1   region_name  147107 non-null  object
 2   org_type     147107 non-null  object
 3   staff_group  147107 non-null  object
 4   month_year   147107 non-null  datetime64[ns]
 5   join_HC      109986 non-null  float64
 6   join_FTE     109986 non-null  float64
 7   leave_HC     110122 non-null  float64
 8   leave_FTE    110122 non-null  float64
 9   denom_HC     146797 non-null  float64
 10  denom_FTE    146797 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 12.3+ MB

Function to clean and process DV dataframes

In [3]:
def clean_dv(df):
    # add leaver and joiner rates column
    df['leaver_rate'] = df['leave_FTE']/df['denom_FTE']
    df['joiner_rate'] = df['join_FTE']/df['denom_FTE']

    # drop unneeded HC columns
    df = df.drop(['join_HC','leave_HC','denom_HC'],axis=1)
    # drop 'All staff groups' - use sum of all others instead when wanting all staff.
    df.drop(df[df['staff_group'] == 'All staff groups'].index, inplace = True)

    ## calculate a columns with % of staff groups by organisation and date
    # first, calculate a total staff in post (SIP; all staff) FTE dataframe for each organisation by month.
    df_sip_org = df.groupby(['month_year', 'org_code', 'staff_group','region_name'])['denom_FTE'].sum().reset_index()
    # second, group by 'month_year' and 'org_code' and sum the 'FTE' values for each group
    df_total_sip_FTE = df_sip_org.groupby(['month_year', 'org_code','region_name'])['denom_FTE'].sum().reset_index()
    # third, merge the total_sip_FTE DataFrame back into the original DataFrame 
    df2 = pd.merge(df, df_total_sip_FTE, on=['month_year', 'org_code','region_name'], suffixes=('', '_total'))

    ## (also calculate here a regional sip FTE by staff group column for later use)
    # staff in post by staff group for each region by month
    df_sip_region = df.groupby(['month_year','staff_group','region_name'])['denom_FTE'].sum().reset_index()
    # # # merge the df_sip_region DataFrame  
    df2 = pd.merge(df2, df_sip_region, on=['month_year','region_name','staff_group'], suffixes=('', '_region'))

    df2.rename(columns={'denom_FTE_total': 'total_sip_FTE','denom_FTE_region':'sip_FTE_region'}, inplace=True)

    # fourth, calculate the percentage of staff group FTE by organization and date
    df2['%_FTE'] = df2['denom_FTE'] / df2['total_sip_FTE']

    # fifth, pivot the DataFrame to get staff groups as new columns with % values
    df3 = df2.pivot(index=['month_year', 'org_code','region_name'], columns='staff_group', values='%_FTE').reset_index()

    # finally, merge the pivot DataFrame with the original DataFrame
    df4 = pd.merge(df2, df3, on=['month_year', 'org_code','region_name'])

    # make the new staff group name columns friendlier
    df4.rename(columns={'Ambulance staff': '%_amb_staff','Central functions':'%_cent_funct','HCHS doctors (exc. junior Drs)': '%_senior_docs',
    'Hotel, property & estates': '%_estates', 'Managers':'%_managers','Nurses & health visitors': '%_nurses_hv',
    'Other staff or those with unknown classification':'%_unknown','Scientific, therapeutic & technical staff':'%_sci_tech_staff',
    'Senior managers':'%senior_managers','Support to ST&T staff': '%_supp_sci_tech','Support to doctors, nurses & midwives': '%_supp_doc_nur_mid',
    'Midwives':'%_midwives','Support to ambulance staff': '%_supp_amb_staff'}, inplace=True)

    # replace inf values with nan (can happen with rate calcs)
    df4.replace([np.inf, -np.inf], np.nan, inplace=True)
    # transform nans to zeros
    df4.fillna(0, inplace=True)

    # Add a small constant to avoid taking the log of zero
    small_constant = 1e-5
    
    # log scale the total_SIP_FTE column to be in line with other variables. proxy for size of organisation
    df4['log_total_sip_FTE'] = np.log(df4['total_sip_FTE'] + small_constant)

    # drop unused columns (keep total SIP FTE for calculating vacancy rates later)
    df4.drop(['join_FTE','leave_FTE','%_FTE','denom_FTE','total_sip_FTE'], axis=1, inplace=True)

    return df4

In [4]:
annual_df = clean_dv(annual_df)
monthly_df = clean_dv(monthly_df)

In [5]:
annual_df.head()

,org_code,region_name,org_type,staff_group,month_year,leaver_rate,joiner_rate,sip_FTE_region,%_amb_staff,%_cent_funct,...,%_managers,%_midwives,%_nurses_hv,%_unknown,%_sci_tech_staff,%senior_managers,%_supp_sci_tech,%_supp_amb_staff,%_supp_doc_nur_mid,log_total_sip_FTE
0,R0A,North West,Acute - Teaching,Ambulance staff,2020-02-01,0.000000,0.000000,2349.48230,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
1,R0A,North West,Acute - Teaching,Central functions,2020-02-01,0.113644,0.207552,14709.92660,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
2,R0A,North West,Acute - Teaching,HCHS doctors (exc. junior Drs),2020-02-01,0.054796,0.081947,8418.31775,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
3,R0A,North West,Acute - Teaching,"Hotel, property & estates",2020-02-01,0.058028,0.151142,9362.75800,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
4,R0A,North West,Acute - Teaching,Managers,2020-02-01,0.081874,0.204227,2537.68919,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994

The data show the full time equivalent (FTE) number of leavers by organisation and staff group for the previous 12-month period from the date. It also shows the number of staff in post (SIP) FTE averaged over the 12-month period to date.

In [6]:
annual_df['staff_group'].unique()

array(['Ambulance staff', 'Central functions',
       'HCHS doctors (exc. junior Drs)', 'Hotel, property & estates',
       'Managers', 'Midwives', 'Nurses & health visitors',
       'Other staff or those with unknown classification',
       'Scientific, therapeutic & technical staff', 'Senior managers',
       'Support to ST&T staff', 'Support to doctors, nurses & midwives',
       'Support to ambulance staff'], dtype=object)

## Load independent variable 1 - local unemployment

Load data about local unemployment so we can use it as a regressor

In [7]:
url_r1 = '../01_data/ONS_localunemployment_monthly.csv'
df_r1 = pd.read_csv(url_r1, parse_dates=['Date'])

df_r1.drop(['Region','thousands'],axis=1,inplace=True)
df_r1.rename(columns={'%':'local_unemployment','Date':'month_year',
                      'NHSE region name':'region_name'},inplace=True)
df_r1 = df_r1.sort_values('month_year')
df_r1.head()

  month_year      region_name  local_unemployment
0 1992-04-01         Midlands               0.087
1 1992-04-01  East of England               0.079
2 1992-04-01           London               0.123
3 1992-04-01       North East               0.122
4 1992-04-01       North West               0.101

## Load IV 2 - sickness absence

Load data about sickness absence to use as second regressor

In [8]:
url_r2 = '../01_data/sickness_absence.csv'
df_r2 = pd.read_csv(url_r2, parse_dates=['Date'])
trust_types_todrop = ['Clinical Commissioning Group','Integrated Care Board']
df_r2 = df_r2[~df_r2['Cluster group'].isin(trust_types_todrop)]
df_r2 = df_r2.drop(['Benchmark group','Org name',
                    'NHSE region code','Cluster group'],axis=1)
df_r2.rename(columns={'Org code':'org_code','Date':'month_year',
                      'NHSE region name':'region_name','Staff group':'staff_group',
                      'FTE days lost':'fte_days_lost','FTE days available':'fte_days_available'},inplace=True)
merge_cols = ['month_year', 'org_code','region_name','staff_group']
df_r2['sickness_absence'] = df_r2['fte_days_lost']/df_r2['fte_days_available']
df_r2 = df_r2.reset_index(drop=True)
df_r2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241185 entries, 0 to 241184
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   month_year          241185 non-null  datetime64[ns]
 1   org_code            241185 non-null  object
 2   region_name         241185 non-null  object
 3   staff_group         241185 non-null  object
 4   fte_days_lost       241185 non-null  float64
 5   fte_days_available  241185 non-null  float64
 6   sickness_absence    240931 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 12.9+ MB

Create 12-month rolling sickness absence column for use with annual turnover data

In [9]:
df_r2['month_year'] = pd.to_datetime(df_r2['month_year'])

# Sort the DataFrame by organisation, staff_group, and month
df_r2.sort_values(by=['org_code', 'staff_group', 'month_year'], inplace=True)

# Calculate the rolling sums for days lost and days available
df_r2['rolling_days_lost'] = df_r2.groupby(['org_code', 
                        'staff_group'])['fte_days_lost'].rolling(window=12, min_periods=1).sum().reset_index(level=[0, 1], drop=True)

df_r2['rolling_days_available'] = df_r2.groupby(['org_code', 
                        'staff_group'])['fte_days_available'].rolling(window=12, min_periods=1).sum().reset_index(level=[0, 1], drop=True)

# Calculate the rolling sickness absence rate
df_r2['annual_sickness_absence'] = df_r2['rolling_days_lost'] / df_r2['rolling_days_available']

# drop fte_days_lost fte_days_available, rolling_days_available and rolling_days_lost columns
df_r2.drop(columns=['fte_days_lost', 'fte_days_available', 'rolling_days_available', 'rolling_days_lost'], inplace=True)

df_r2.head()

,month_year,org_code,region_name,staff_group,sickness_absence,annual_sickness_absence
523,2018-03-01,0AR,Special Health Authorities and other statutory...,All staff groups,0.030707,0.030707
7395,2018-04-01,0AR,Special Health Authorities and other statutory...,All staff groups,0.038024,0.034318
12211,2018-05-01,0AR,Special Health Authorities and other statutory...,All staff groups,0.039730,0.036162
18374,2018-06-01,0AR,Special Health Authorities and other statutory...,All staff groups,0.033094,0.035407
22005,2018-07-01,0AR,Special Health Authorities and other statutory...,All staff groups,0.031692,0.034648

## Load IV 3 - reasons for sickness absence

Add data about reasons for sickness absence

In [10]:
url_r3 = '../01_data/sickness_absence_reason_pivot.csv'
df_r3 = pd.read_csv(url_r3, parse_dates=['Date'])
#df_r3 = df_r3.drop(['FTE days lost'],axis=1)
df_r3.rename(columns={'Date':'month_year','Staff group':'staff_group'},inplace=True)
#df_r2 = df_r2.reset_index(drop=True)

# drop least frequent reasons for absence
df_r3 = df_r3.drop(['substance_abus','asthma',
                    'dental','blood_disorder','endocrine',
                    'eye','skin_disorders','nervous_system'],axis=1)

# Replace NaN values with 0 
df_r3 = df_r3.fillna(0)
df_r3.info()
# national level data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1374 entries, 0 to 1373
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month_year         1374 non-null   datetime64[ns]
 1   staff_group        1374 non-null   object
 2   anxiety_stress     1374 non-null   float64
 3   back_problems      1374 non-null   float64
 4   gastro             1374 non-null   float64
 5   gynaecological     1374 non-null   float64
 6   headache_mig       1374 non-null   float64
 7   infectious_dis     1374 non-null   float64
 8   other              1374 non-null   float64
 9   other_msk          1374 non-null   float64
 10  pregnancy_related  1374 non-null   float64
 11  respiratory        1374 non-null   float64
 12  unknown            1374 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 139.7+ KB

## Load IV 4 and 5 - staff vacancies

In [11]:
url_sg_ref = '../01_data/ref_sg.csv'
df_sg_ref = pd.read_csv(url_sg_ref)
df_sg_ref.head()

,vacancy_sg,staff_group,all
0,Additional Clinical Services,"Support to doctors, nurses & midwives",All staff groups
1,Additional Professional Scientific and Technical,Support to ST&T staff,All staff groups
2,Administrative and Clerical,Central functions,All staff groups
3,Administrative and Clerical,Senior managers,All staff groups
4,Administrative and Clerical,Managers,All staff groups

In [12]:
url_r4 = '../01_data/vacancy_ESR.csv'
df_r4 = pd.read_csv(url_r4,parse_dates=['month_year'],dayfirst=True)

df_r4 = df_r4.drop(['Published month','Published quarter','England'],axis=1)
df_r4.rename(columns={'NWD Staff Group':'vacancy_sg','NHS England region':'region_name',
                        'Vacancy Wte':'vacancy_FTE'},inplace=True)

df_r4 = df_r4.fillna(0)

# Remove code in brackets
df_r4['region_name'] = df_r4['region_name'].str[:-6].str.rstrip()

# Add staff groupings to match other datasets
df_r4 = pd.merge(df_r4, df_sg_ref, on='vacancy_sg',how='left')

df_r4 = df_r4.drop(['all'],axis=1)

df_r4.info()

# regional level

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8897 entries, 0 to 8896
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_year   8897 non-null   datetime64[ns]
 1   vacancy_sg   8897 non-null   object
 2   region_name  8897 non-null   object
 3   vacancy_FTE  8897 non-null   float64
 4   staff_group  8897 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 347.7+ KB

In [13]:
url_r5 = '../01_data/vacancy_TRAC.csv'
df_r5 = pd.read_csv(url_r5,parse_dates=['month_year'],dayfirst=True)

df_r5 = df_r5.drop(['Published month','Published quarter','England'],axis=1)

df_r5.rename(columns={'NWD Staff Group':'vacancy_sg','NHS England region':'region_name',
                        'Advertised FTE':'advertised_FTE'},inplace=True)

df_r5 = df_r5.fillna(0)

# Remove region code in brackets
df_r5['region_name'] = df_r5['region_name'].str[:-6].str.rstrip()

# Add staff groupings to match other datasets
df_r5 = pd.merge(df_r5, df_sg_ref, on='vacancy_sg',how='left')

df_r5 = df_r5.drop(['all'],axis=1)

# regional level

df_r5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month_year      4525 non-null   datetime64[ns]
 1   vacancy_sg      4525 non-null   object
 2   region_name     4525 non-null   object
 3   advertised_FTE  4525 non-null   float64
 4   staff_group     4525 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 176.9+ KB

## Load IV 6 - Reasons for leaving

In [14]:
url_r6 = '../01_data/rfl_dec22.csv'
df_r6 = pd.read_csv(url_r6,parse_dates=['month_year'],dayfirst=True)

#df_r6 = df_r6.drop(['financial_year','quarter'],axis=1)

# df_r5.rename(columns={'NWD Staff Group':'staff_group','NHS England region':'region_name',
#                         'Advertised FTE':'advertised_FTE'},inplace=True)

# df_r5 = df_r5.fillna(0)

# # Remove region code in brackets
# df_r5['region_name'] = df_r5['region_name'].str[:-6].str.rstrip()
# # regional level

# shortern column names and add %_ at beginning
df_r6.rename(columns={'Death in service':'%_death_in_service','Dismissal':'%_dismissal',
                        'End of fixed term':'%_end_of_ft','Flexibility':'%_flexibility',
                        'Health':'%_health','Incompatible working relationships':'%_incompat_relations',
                        'Other':'%_other', 'Pay/Reward':'%_pay_reward', 'Pregnancy':'%_pregnancy',
                        'Progression/CPD':'%_progression_cpd','Relocation':'%_relocation',
                        'Retirement':'%_retirement','Unknown':'%_unknown','Work/Life Balance':'%_work_life_balance',
                        'Workforce Transformation':'%_workforce_transform'},inplace=True)

df_r6['%_other'] = pd.to_numeric(df_r6['%_other'], errors='coerce')
df_r6['%_unknown'] = pd.to_numeric(df_r6['%_unknown'], errors='coerce')
df_r6['%_workforce_transform'] = pd.to_numeric(df_r6['%_workforce_transform'], errors='coerce')


df_r6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month_year             20 non-null     datetime64[ns]
 1   %_death_in_service     20 non-null     float64
 2   %_dismissal            20 non-null     float64
 3   %_end_of_ft            20 non-null     float64
 4   %_flexibility          20 non-null     float64
 5   %_health               20 non-null     float64
 6   %_incompat_relations   20 non-null     float64
 7   %_other                17 non-null     float64
 8   %_pay_reward           20 non-null     float64
 9   %_pregnancy            20 non-null     int64
 10  %_progression_cpd      20 non-null     float64
 11  %_relocation           20 non-null     float64
 12  %_retirement           20 non-null     float64
 13  %_unknown              20 non-null     float64
 14  %_work_life_balance    20 non-null     float64
 15  %_workforce_transform  18 non-null     float64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 2.6 KB

## Merge IV dfs to main df

In [15]:
annual_df.head()

,org_code,region_name,org_type,staff_group,month_year,leaver_rate,joiner_rate,sip_FTE_region,%_amb_staff,%_cent_funct,...,%_managers,%_midwives,%_nurses_hv,%_unknown,%_sci_tech_staff,%senior_managers,%_supp_sci_tech,%_supp_amb_staff,%_supp_doc_nur_mid,log_total_sip_FTE
0,R0A,North West,Acute - Teaching,Ambulance staff,2020-02-01,0.000000,0.000000,2349.48230,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
1,R0A,North West,Acute - Teaching,Central functions,2020-02-01,0.113644,0.207552,14709.92660,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
2,R0A,North West,Acute - Teaching,HCHS doctors (exc. junior Drs),2020-02-01,0.054796,0.081947,8418.31775,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
3,R0A,North West,Acute - Teaching,"Hotel, property & estates",2020-02-01,0.058028,0.151142,9362.75800,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994
4,R0A,North West,Acute - Teaching,Managers,2020-02-01,0.081874,0.204227,2537.68919,0.00005,0.083106,...,0.009468,0.024753,0.315781,0.000501,0.161369,0.007363,0.071334,0.0,0.244138,9.901994

In [16]:
def merge_ivs(df, df_r1, df_r2, df_r3,df_r4,df_r5,df_r6):
    # local unemployment rate
    df1 = pd.merge(df, df_r1, on=['month_year', 'region_name'],how='left')
    df1 = df1.sort_values('month_year')

    # sickness absence
    r2_merge_cols = ['month_year', 'org_code','region_name','staff_group']
    df2 = pd.merge(df1, df_r2, on=r2_merge_cols,how='left')
    df2.drop_duplicates(subset=r2_merge_cols)

    # reason for sickness absence
    r3_merge_cols = ['month_year','staff_group']
    df3 = pd.merge(df2, df_r3, on=r3_merge_cols,how='left')

    # vacancy - need to calculate rate at regional level here
    # use sip_FTE_region calculated earlier
    r4_merge_cols = ['month_year','region_name','staff_group']

    df4 = pd.merge(df3, df_r4, on=r4_merge_cols,how='left')

    df4.drop(columns=['vacancy_sg'], inplace=True)

    df4['vacancy_rate'] = df4['vacancy_FTE'] / df4['sip_FTE_region']

    df5 = pd.merge(df4, df_r5, on=r4_merge_cols,how='left')

    df5.drop(columns=['vacancy_sg'], inplace=True)

    df5['advertised_rate'] = df5['advertised_FTE'] / df5['sip_FTE_region']

    df5.drop(columns=['sip_FTE_region','advertised_FTE','vacancy_FTE'], inplace=True)

    # reasons for leaving
    df6 = pd.merge(df5, df_r6, on='month_year',how='left')

    # add region as dummy variable
    df6 = pd.get_dummies(df6, columns=['region_name'], drop_first=True)

    # add org type as dummy variable
    df6 = pd.get_dummies(df6, columns=['org_type'], drop_first=True)

    # Convert True/False dummy variable categories to integer 0/1
    bool_columns = df6.select_dtypes(include='bool').columns
    df6[bool_columns] = df6[bool_columns].astype(int)

    # Need to cut dataframe to earliest and latest data available for all fields. Do this by cutting rows where all values for key variables are zero
    df6 = df6[~((df5['leaver_rate'] == 0) | (df6['joiner_rate'] == 0) | (df6['sickness_absence'] == 0))]

    # transform nans into 0s
    df6 = df6.fillna(0)

    # drop duplicates
    df6.drop_duplicates(inplace=True)
    
    return df6

In [17]:
annual_df_ivs = merge_ivs(annual_df,df_r1, df_r2, df_r3,df_r4,df_r5,df_r6)
monthly_df_ivs = merge_ivs(monthly_df,df_r1, df_r2, df_r3,df_r4,df_r5,df_r6)

In [18]:
annual_df_ivs.head()

,org_code,staff_group,month_year,leaver_rate,joiner_rate,%_amb_staff,%_cent_funct,%_senior_docs,%_estates,%_managers,...,region_name_South West,org_type_Acute - Medium,org_type_Acute - Multi-Service,org_type_Acute - Small,org_type_Acute - Specialist,org_type_Acute - Teaching,org_type_Ambulance Trust,org_type_Care Trust,org_type_Community Provider Trust,org_type_Mental Health and Learning Disability
53301,RBA,"Hotel, property & estates",2018-08-01,0.053293,0.155154,0.000000,0.081927,0.073878,0.094267,0.014461,...,1,1,0,0,0,0,0,0,0,0
53302,RBA,"Hotel, property & estates",2018-08-01,0.053293,0.155154,0.000000,0.081927,0.073878,0.094267,0.014461,...,1,1,0,0,0,0,0,0,0,0
53303,RGN,Senior managers,2018-08-01,0.276243,0.165746,0.000594,0.069098,0.071875,0.034894,0.019698,...,0,0,0,0,0,0,0,0,0,0
53304,RGN,Senior managers,2018-08-01,0.276243,0.165746,0.000594,0.069098,0.071875,0.034894,0.019698,...,0,0,0,0,0,0,0,0,0,0
53305,RGN,Senior managers,2018-08-01,0.276243,0.165746,0.000594,0.069098,0.071875,0.034894,0.019698,...,0,0,0,0,0,0,0,0,0,0

In [19]:
annual_df_ivs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 230462 entries, 53301 to 314933
Data columns (total 65 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   org_code                                        230462 non-null  object
 1   staff_group                                     230462 non-null  object
 2   month_year                                      230462 non-null  datetime64[ns]
 3   leaver_rate                                     230462 non-null  float64
 4   joiner_rate                                     230462 non-null  float64
 5   %_amb_staff                                     230462 non-null  float64
 6   %_cent_funct                                    230462 non-null  float64
 7   %_senior_docs                                   230462 non-null  float64
 8   %_estates                                       230462 non-null  float64
 9   %_managers                                      230462 non-null  float64
 10  %_midwives                                      230462 non-null  float64
 11  %_nurses_hv                                     230462 non-null  float64
 12  %_unknown_x                                     230462 non-null  float64
 13  %_sci_tech_staff                                230462 non-null  float64
 14  %senior_managers                                230462 non-null  float64
 15  %_supp_sci_tech                                 230462 non-null  float64
 16  %_supp_amb_staff                                230462 non-null  float64
 17  %_supp_doc_nur_mid                              230462 non-null  float64
 18  log_total_sip_FTE                               230462 non-null  float64
 19  local_unemployment                              230462 non-null  float64
 20  sickness_absence                                230462 non-null  float64
 21  annual_sickness_absence                         230462 non-null  float64
 22  anxiety_stress                                  230462 non-null  float64
 23  back_problems                                   230462 non-null  float64
 24  gastro                                          230462 non-null  float64
 25  gynaecological                                  230462 non-null  float64
 26  headache_mig                                    230462 non-null  float64
 27  infectious_dis                                  230462 non-null  float64
 28  other                                           230462 non-null  float64
 29  other_msk                                       230462 non-null  float64
 30  pregnancy_related                               230462 non-null  float64
 31  respiratory                                     230462 non-null  float64
 32  unknown                                         230462 non-null  float64
 33  vacancy_rate                                    230462 non-null  float64
 34  advertised_rate                                 230462 non-null  float64
 35  %_death_in_service                              230462 non-null  float64
 36  %_dismissal                                     230462 non-null  float64
 37  %_end_of_ft                                     230462 non-null  float64
 38  %_flexibility                                   230462 non-null  float64
 39  %_health                                        230462 non-null  float64
 40  %_incompat_relations                            230462 non-null  float64
 41  %_other                                         230462 non-null  float64
 42  %_pay_reward                                    230462 non-null  float64
 43  %_pregnancy                                     230462 non-null  float64
 44  %_progression_cpd                               230462 non-null  float64
 45  %_relocation                                    230462 non-null  float64
 46  %_retirement                                    230462 non-null  float64
 47  %_unknown_y                                     230462 non-null  float64
 48  %_work_life_balance                             230462 non-null  float64
 49  %_workforce_transform                           230462 non-null  float64
 50  region_name_London                              230462 non-null  int32
 51  region_name_Midlands                            230462 non-null  int32
 52  region_name_North East and Yorkshire            230462 non-null  int32
 53  region_name_North West                          230462 non-null  int32
 54  region_name_South East                          230462 non-null  int32
 55  region_name_South West                          230462 non-null  int32
 56  org_type_Acute - Medium                         230462 non-null  int32
 57  org_type_Acute - Multi-Service                  230462 non-null  int32
 58  org_type_Acute - Small                          230462 non-null  int32
 59  org_type_Acute - Specialist                     230462 non-null  int32
 60  org_type_Acute - Teaching                       230462 non-null  int32
 61  org_type_Ambulance Trust                        230462 non-null  int32
 62  org_type_Care Trust                             230462 non-null  int32
 63  org_type_Community Provider Trust               230462 non-null  int32
 64  org_type_Mental Health and Learning Disability  230462 non-null  int32
dtypes: datetime64[ns](1), float64(47), int32(15), object(2)
memory usage: 102.9+ MB

In [20]:
annual_df_ivs.to_csv(f'annual_modelling_data.csv', index=False)

In [21]:
monthly_df_ivs.to_csv(f'monthly_modelling_data.csv', index=False)

## OLS multiple regression

### Annual data

Specify the dependent variable (dv). All other fields to be dropped.

In [22]:
dv = 'leaver_rate'
to_drop = ['month_year','org_code','staff_group','sickness_absence','%_unknown_x',
           dv]

Define the design matrix (X) and the dependent variable (y)

In [23]:
annual_df_ivs.reset_index(drop = True)
X = annual_df_ivs.drop(to_drop, axis=1)
y = annual_df_ivs[dv]

y.head()

53301    0.053293
53302    0.053293
53303    0.276243
53304    0.276243
53305    0.276243
Name: leaver_rate, dtype: float64

In [24]:
# Add a constant column to the design matrix
X = sm.add_constant(X)

X.tail()

,const,joiner_rate,%_amb_staff,%_cent_funct,%_senior_docs,%_estates,%_managers,%_midwives,%_nurses_hv,%_sci_tech_staff,...,region_name_South West,org_type_Acute - Medium,org_type_Acute - Multi-Service,org_type_Acute - Small,org_type_Acute - Specialist,org_type_Acute - Teaching,org_type_Ambulance Trust,org_type_Care Trust,org_type_Community Provider Trust,org_type_Mental Health and Learning Disability
314929,1.0,0.107421,0.0,0.076539,0.069032,0.038682,0.013728,0.023599,0.293687,0.128069,...,0,0,0,0,0,1,0,0,0,0
314930,1.0,0.107421,0.0,0.076539,0.069032,0.038682,0.013728,0.023599,0.293687,0.128069,...,0,0,0,0,0,1,0,0,0,0
314931,1.0,0.200625,0.0,0.076539,0.069032,0.038682,0.013728,0.023599,0.293687,0.128069,...,0,0,0,0,0,1,0,0,0,0
314932,1.0,0.200625,0.0,0.076539,0.069032,0.038682,0.013728,0.023599,0.293687,0.128069,...,0,0,0,0,0,1,0,0,0,0
314933,1.0,0.248881,0.0,0.076539,0.069032,0.038682,0.013728,0.023599,0.293687,0.128069,...,0,0,0,0,0,1,0,0,0,0

In [25]:
# Fit the regression model
model = sm.OLS(y, X)
results = model.fit()

# Print the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            leaver_rate   R-squared:                       0.095
Model:                            OLS   Adj. R-squared:                  0.094
Method:                 Least Squares   F-statistic:                     415.2
Date:                Tue, 22 Aug 2023   Prob (F-statistic):               0.00
Time:                        15:17:05   Log-Likelihood:                -6383.5
No. Observations:              230462   AIC:                         1.289e+04
Df Residuals:                  230403   BIC:                         1.350e+04
Df Model:                          58
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
const                                             -0.7259      0.161     -4.499      0.000      -1.042      -0.410
joiner_rate                                        0.5156      0.005    106.509      0.000       0.506       0.525
%_amb_staff                                        0.8048      0.174      4.629      0.000       0.464       1.146
%_cent_funct                                       0.9158      0.162      5.647      0.000       0.598       1.234
%_senior_docs                                      1.0451      0.178      5.884      0.000       0.697       1.393
%_estates                                          0.7812      0.159      4.898      0.000       0.469       1.094
%_managers                                         0.9784      0.178      5.505      0.000       0.630       1.327
%_midwives                                         1.0750      0.163      6.598      0.000       0.756       1.394
%_nurses_hv                                        0.8945      0.162      5.535      0.000       0.578       1.211
%_sci_tech_staff                                   0.8136      0.161      5.038      0.000       0.497       1.130
%senior_managers                                   0.9251      0.193      4.789      0.000       0.547       1.304
%_supp_sci_tech                                    0.6853      0.159      4.316      0.000       0.374       0.997
%_supp_amb_staff                                   0.9726      0.172      5.643      0.000       0.635       1.310
%_supp_doc_nur_mid                                 0.8915      0.161      5.547      0.000       0.576       1.206
log_total_sip_FTE                                 -0.0088      0.001     -6.212      0.000      -0.012      -0.006
local_unemployment                                -0.4963      0.094     -5.255      0.000      -0.681      -0.311
annual_sickness_absence                           -1.6451      0.033    -50.043      0.000      -1.710      -1.581
anxiety_stress                                    -0.1131      0.013     -8.938      0.000      -0.138      -0.088
back_problems                                     -0.9952      0.058    -17.150      0.000      -1.109      -0.881
gastro                                             0.0153      0.044      0.346      0.730      -0.071       0.102
gynaecological                                    -0.9273      0.079    -11.698      0.000      -1.083      -0.772
headache_mig                                       2.2886      0.113     20.246      0.000       2.067       2.510
infectious_dis                                    -0.2820      0.026    -10.742      0.000      -0.333      -0.231
other                                             -0.4100      0.034    -12.094      0.000      -0.476      -0.344
other_msk                                          1.1346      0.033     34.728      0.000       1.071       1.199
pregnancy_related                                  0.2118      0.052      4.068      0.000       0.110       0.314
respiratory                                        0.4306      0.034     12.765      0.000       0.365       0.497
unknown                                           -0.1105      0.027     -4.094      0.000      -0.163      -0.058
vacancy_rate                                       0.1863      0.006     29.689      0.000       0.174       0.199
advertised_rate                                    0.0280      0.009      2.957      0.003       0.009       0.047
%_death_in_service                                 2.4825      0.563      4.409      0.000       1.379       3.586
%_dismissal                                       -0.4722      0.531     -0.889      0.374      -1.513       0.569
%_end_of_ft                                       -0.0469      0.057     -0.816      0.414      -0.160       0.066
%_flexibility                                      5.3963      1.668      3.234      0.001       2.126       8.666
%_health                                          -1.3833      0.441     -3.139      0.002      -2.247      -0.519
%_incompat_relations                              -2.5639      2.024     -1.267      0.205      -6.532       1.404
%_other                                            1.1371      0.391      2.910      0.004       0.371       1.903
%_pay_reward                                      -0.7125      0.173     -4.111      0.000      -1.052      -0.373
%_pregnancy                                    -9.475e-15   1.69e-14     -0.561      0.574   -4.25e-14    2.36e-14
%_progression_cpd                                  0.4423      0.293      1.510      0.131      -0.132       1.017
%_relocation                                      -0.7527      0.263     -2.861      0.004      -1.268      -0.237
%_retirement                                      -0.1611      0.081     -1.988      0.047      -0.320      -0.002
%_unknown_y                                        0.3565      0.161      2.219      0.026       0.042       0.671
%_work_life_balance                                0.7273      0.212      3.437      0.001       0.313       1.142
%_workforce_transform                             -0.0904      0.039     -2.349      0.019      -0.166      -0.015
region_name_London                                 0.0183      0.003      6.526      0.000       0.013       0.024
region_name_Midlands                               0.0111      0.002      4.951      0.000       0.007       0.016
region_name_North East and Yorkshire               0.0166      0.003      6.424      0.000       0.012       0.022
region_name_North West                             0.0205      0.002      8.248      0.000       0.016       0.025
region_name_South East                            -0.0009      0.002     -0.398      0.691      -0.006       0.004
region_name_South West                             0.0061      0.003      2.417      0.016       0.001       0.011
org_type_Acute - Medium                           -0.0045      0.002     -2.033      0.042      -0.009      -0.000
org_type_Acute - Multi-Service                    -0.0004      0.003     -0.111      0.912      -0.007       0.006
org_type_Acute - Small                            -0.0040      0.002     -1.626      0.104      -0.009       0.001
org_type_Acute - Specialist                        0.0007      0.003      0.211      0.833      -0.006       0.007
org_type_Acute - Teaching                          0.0035      0.002      1.847      0.065      -0.000       0.007
org_type_Ambulance Trust                          -0.0117      0.050     -0.236      0.814      -0.109       0.085
org_type_Care Trust                                0.0467      0.007      7.113      0.000       0.034       0.060
org_type_Community Provider Trust                  0.0410      0.005      8.811      0.000       0.032       0.050
org_type_Mental Health and Learning Disability     0.0169      0.003      5.169      0.000       0.010       0.023
==============================================================================
Omnibus:                   695530.742   Durbin-Watson:                   1.727
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      96639930837.857
Skew:                          44.559   Prob(JB):                         0.00
Kurtosis:                    3174.121   Cond. No.                     1.01e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.63e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Monthly data

In [26]:
dv = 'leaver_rate'
to_drop = ['month_year','org_code','staff_group','annual_sickness_absence',
           dv]

monthly_df_ivs.reset_index(drop = True)
X = monthly_df_ivs.drop(to_drop, axis=1)
y = monthly_df_ivs[dv]

#y = y.dropna()

y.head()

6090    0.030204
6091    0.030204
6092    0.005962
6093    0.005962
6094    0.005962
Name: leaver_rate, dtype: float64

In [27]:
# Add a constant column to the design matrix
X = sm.add_constant(X)

X.tail()

,const,joiner_rate,%_amb_staff,%_cent_funct,%_senior_docs,%_estates,%_managers,%_midwives,%_nurses_hv,%_unknown_x,...,region_name_South West,org_type_Acute - Medium,org_type_Acute - Multi-Service,org_type_Acute - Small,org_type_Acute - Specialist,org_type_Acute - Teaching,org_type_Ambulance Trust,org_type_Care Trust,org_type_Community Provider Trust,org_type_Mental Health and Learning Disability
262963,1.0,0.024402,0.0,0.100655,0.041793,0.063877,0.005879,0.0,0.279110,0.003120,...,0,0,0,0,0,0,0,0,0,1
262964,1.0,0.024343,0.0,0.100655,0.041793,0.063877,0.005879,0.0,0.279110,0.003120,...,0,0,0,0,0,0,0,0,0,1
262965,1.0,0.024343,0.0,0.100655,0.041793,0.063877,0.005879,0.0,0.279110,0.003120,...,0,0,0,0,0,0,0,0,0,1
262967,1.0,0.021979,0.0,0.110338,0.029508,0.032491,0.015030,0.0,0.234538,0.000184,...,1,0,0,0,0,0,0,0,0,1
262968,1.0,0.021979,0.0,0.110338,0.029508,0.032491,0.015030,0.0,0.234538,0.000184,...,1,0,0,0,0,0,0,0,0,1

In [28]:
# Fit the regression model
model = sm.OLS(y, X)
results = model.fit()

# Print the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            leaver_rate   R-squared:                       0.125
Model:                            OLS   Adj. R-squared:                  0.125
Method:                 Least Squares   F-statistic:                     442.2
Date:                Tue, 22 Aug 2023   Prob (F-statistic):               0.00
Time:                        15:17:08   Log-Likelihood:             4.6085e+05
No. Observations:              179046   AIC:                        -9.216e+05
Df Residuals:                  178987   BIC:                        -9.210e+05
Df Model:                          58
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
const                                              0.0291      0.002     18.361      0.000       0.026       0.032
joiner_rate                                        0.1831      0.002    116.223      0.000       0.180       0.186
%_amb_staff                                       -0.0107      0.005     -2.078      0.038      -0.021      -0.001
%_cent_funct                                      -0.0011      0.002     -0.534      0.593      -0.005       0.003
%_senior_docs                                      0.0140      0.005      2.743      0.006       0.004       0.024
%_estates                                         -0.0044      0.002     -2.285      0.022      -0.008      -0.001
%_managers                                        -0.0042      0.005     -0.775      0.438      -0.015       0.006
%_midwives                                         0.0117      0.003      3.570      0.000       0.005       0.018
%_nurses_hv                                        0.0081      0.002      4.393      0.000       0.004       0.012
%_unknown_x                                        0.0505      0.013      3.935      0.000       0.025       0.076
%_sci_tech_staff                                   0.0026      0.002      1.118      0.264      -0.002       0.007
%senior_managers                                  -0.0162      0.008     -1.971      0.049      -0.032   -8.85e-05
%_supp_sci_tech                                   -0.0100      0.002     -4.452      0.000      -0.014      -0.006
%_supp_amb_staff                                  -0.0056      0.005     -1.093      0.275      -0.016       0.004
%_supp_doc_nur_mid                                -0.0055      0.002     -2.969      0.003      -0.009      -0.002
log_total_sip_FTE                                 -0.0025      0.000    -20.614      0.000      -0.003      -0.002
local_unemployment                                 0.0185      0.008      2.290      0.022       0.003       0.034
sickness_absence                                  -0.0509      0.003    -18.064      0.000      -0.056      -0.045
anxiety_stress                                    -0.0230      0.001    -17.420      0.000      -0.026      -0.020
back_problems                                     -0.0659      0.007     -9.991      0.000      -0.079      -0.053
gastro                                             0.0901      0.004     20.266      0.000       0.081       0.099
gynaecological                                    -0.0012      0.009     -0.141      0.888      -0.018       0.016
headache_mig                                       0.2891      0.013     22.097      0.000       0.263       0.315
infectious_dis                                     0.0171      0.002      7.247      0.000       0.012       0.022
other                                             -0.0381      0.004     -9.886      0.000      -0.046      -0.031
other_msk                                          0.0355      0.004      9.797      0.000       0.028       0.043
pregnancy_related                                 -0.1225      0.005    -24.856      0.000      -0.132      -0.113
respiratory                                       -0.0218      0.003     -7.097      0.000      -0.028      -0.016
unknown                                           -0.0057      0.003     -1.889      0.059      -0.012       0.000
vacancy_rate                                       0.0340      0.001     45.050      0.000       0.033       0.036
advertised_rate                                    0.0027      0.001      2.446      0.014       0.001       0.005
%_death_in_service                                 0.0178      0.047      0.377      0.706      -0.075       0.110
%_dismissal                                       -0.2002      0.045     -4.451      0.000      -0.288      -0.112
%_end_of_ft                                        0.0006      0.005      0.126      0.900      -0.009       0.010
%_flexibility                                      1.0686      0.140      7.621      0.000       0.794       1.343
%_health                                          -0.0041      0.037     -0.110      0.912      -0.076       0.068
%_incompat_relations                              -1.3502      0.169     -8.003      0.000      -1.681      -1.020
%_other                                            0.4575      0.032     14.283      0.000       0.395       0.520
%_pay_reward                                      -0.0050      0.014     -0.346      0.729      -0.033       0.023
%_pregnancy                                    -7.586e-16   8.93e-17     -8.492      0.000   -9.34e-16   -5.83e-16
%_progression_cpd                                  0.0135      0.024      0.551      0.581      -0.035       0.062
%_relocation                                      -0.1432      0.022     -6.450      0.000      -0.187      -0.100
%_retirement                                       0.0341      0.007      5.014      0.000       0.021       0.047
%_unknown_y                                        0.1091      0.014      8.055      0.000       0.083       0.136
%_work_life_balance                               -0.0628      0.018     -3.520      0.000      -0.098      -0.028
%_workforce_transform                             -0.0409      0.003    -12.704      0.000      -0.047      -0.035
region_name_London                                 0.0013      0.000      5.676      0.000       0.001       0.002
region_name_Midlands                              -0.0007      0.000     -3.601      0.000      -0.001      -0.000
region_name_North East and Yorkshire              -0.0012      0.000     -5.400      0.000      -0.002      -0.001
region_name_North West                             0.0007      0.000      3.323      0.001       0.000       0.001
region_name_South East                            -0.0004      0.000     -1.803      0.071      -0.001    3.06e-05
region_name_South West                            -0.0006      0.000     -2.712      0.007      -0.001      -0.000
org_type_Acute - Medium                           -0.0004      0.000     -2.379      0.017      -0.001   -7.73e-05
org_type_Acute - Multi-Service                    -0.0007      0.000     -2.568      0.010      -0.001      -0.000
org_type_Acute - Small                            -0.0006      0.000     -3.065      0.002      -0.001      -0.000
org_type_Acute - Specialist                       -0.0006      0.000     -2.308      0.021      -0.001   -9.43e-05
org_type_Acute - Teaching                       -8.66e-05      0.000     -0.559      0.576      -0.000       0.000
org_type_Ambulance Trust                           0.0089      0.005      1.905      0.057      -0.000       0.018
org_type_Care Trust                                0.0040      0.001      6.934      0.000       0.003       0.005
org_type_Community Provider Trust                  0.0023      0.000      5.712      0.000       0.001       0.003
org_type_Mental Health and Learning Disability     0.0020      0.000      7.257      0.000       0.001       0.003
==============================================================================
Omnibus:                   433597.023   Durbin-Watson:                   1.242
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      14578767504.574
Skew:                          24.939   Prob(JB):                         0.00
Kurtosis:                    1400.034   Cond. No.                     1.46e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.15e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.