# Data processing for model

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

#import matplotlib.pyplot as plt
#import seaborn as sns

#from sklearn.preprocessing import MinMaxScaler
#import geopandas as gpd

## Read in and process dependent variable - turnover

Read turnover data from csv into a dataframe.

In [2]:
# annual and monthly data
#annual_url = '../01_data/processed_annual_turnover.csv'
annual_url = '../01_data/annual_turnover.csv'

# monthly_url = '../01_data/processed_monthly_turnover.csv'

# staff group ref table
ref_sg = pd.read_csv('../01_data/ref_sg_grouped.csv')

annual_df = pd.read_csv(annual_url, parse_dates=['month_year'])
annual_df = annual_df.drop(['n'],axis=1)

annual_df.rename(columns={'ORG_CODE':'org_code',
                        'STAFF_GROUP':'staff_group'}, inplace=True)

# drop unneeded columns
annual_df = annual_df.drop(['ORG_TYPE','join_HC','leave_HC','denom_HC','denom_FTE_12',
                            'ORG_NAME','denom_HC_12','denom_HC_mean'],axis=1)

# group staff groups with mapping table
annual_df = pd.merge(annual_df, ref_sg, on='staff_group', how='left')

annual_df.info()

# monthly_df = pd.read_csv(monthly_url, parse_dates=['month_year'])
# monthly_df = monthly_df.drop(['n'],axis=1)
# monthly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223188 entries, 0 to 223187
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   org_code        223188 non-null  object
 1   staff_group     223188 non-null  object
 2   month_year      223188 non-null  datetime64[ns]
 3   join_FTE        178819 non-null  float64
 4   leave_FTE       175224 non-null  float64
 5   denom_FTE       223188 non-null  float64
 6   region_name     223188 non-null  object
 7   denom_FTE_mean  223188 non-null  float64
 8   grouped_sg      223188 non-null  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 15.3+ MB

clean and process DV dataframes

In [3]:
# add leaver and joiner rates column
annual_df['leaver_rate'] = annual_df['leave_FTE']/annual_df['denom_FTE_mean']
annual_df['joiner_rate'] = annual_df['join_FTE']/annual_df['denom_FTE_mean']

In [4]:
annual_df1 = annual_df.copy()

annual_df1.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate
0,TAJ,All staff groups,2023-07-01,614.16006,346.48324,3453.54378,MIDLANDS,3324.193505,all,0.104231,0.184755
1,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507
2,TAJ,HCHS doctors (exc. junior Drs),2023-07-01,4.80000,5.60000,122.66591,MIDLANDS,120.940910,clinical,0.046304,0.039689
3,TAJ,"Hotel, property & estates",2023-07-01,22.14668,15.36000,181.20004,MIDLANDS,180.306715,non-clinical,0.085188,0.122828
4,TAJ,Managers,2023-07-01,21.80000,11.05333,93.59334,MIDLANDS,78.290005,non-clinical,0.141184,0.278452

In [5]:
# drop 'all staff' group
annual_df1 = annual_df1[annual_df1['grouped_sg'] != 'all']

In [6]:
# Assuming 'df' is your dataframe
# Group by 'org', 'date', and 'staff_group' and sum the 'denom_FTE'
grouped_df = annual_df1.groupby(['org_code', 'month_year', 'grouped_sg'])['denom_FTE'].sum().reset_index()

# Calculate the total 'denom_FTE' for each 'org' and 'date'
total_denom_FTE = grouped_df.groupby(['org_code', 'month_year'])['denom_FTE'].transform('sum')

# Create new columns for the proportion of each staff group within each organization and date
grouped_df['prop_staff_group'] = (grouped_df['denom_FTE'] / total_denom_FTE)

# Pivot the dataframe to have columns for each staff group
pivot_df = grouped_df.pivot_table(index=['org_code', 'month_year'], columns='grouped_sg', values='prop_staff_group', 
                                  fill_value=0).reset_index()

# Rename the columns to include the prefix '%_'
#pivot_df.columns = [f'%_{col}_staff' if col != ('org', 'date') else col for col in pivot_df.columns]

# Merge the pivot table back to the original dataframe
annual_df2 = pd.merge(annual_df1, pivot_df, on=['org_code', 'month_year'], how='left')

# If there are missing values, you may want to fill them with 0
annual_df2.fillna(0, inplace=True)

In [7]:
annual_df2.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate,clinical,non-clinical
0,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507,0.577655,0.422345
1,TAJ,HCHS doctors (exc. junior Drs),2023-07-01,4.80000,5.60000,122.66591,MIDLANDS,120.940910,clinical,0.046304,0.039689,0.577655,0.422345
2,TAJ,"Hotel, property & estates",2023-07-01,22.14668,15.36000,181.20004,MIDLANDS,180.306715,non-clinical,0.085188,0.122828,0.577655,0.422345
3,TAJ,Managers,2023-07-01,21.80000,11.05333,93.59334,MIDLANDS,78.290005,non-clinical,0.141184,0.278452,0.577655,0.422345
4,TAJ,Nurses & health visitors,2023-07-01,155.07630,108.61440,1007.00718,MIDLANDS,986.729345,clinical,0.110075,0.157162,0.577655,0.422345

In [8]:
## Calculate a regional sip FTE by staff group column for later use
# staff in post by staff group for each region by month
df_sip_region = annual_df2.groupby(['month_year','staff_group','region_name'])['denom_FTE'].sum().reset_index()
# # # merge the df_sip_region DataFrame  
annual_df3 = pd.merge(annual_df2, df_sip_region, on=['month_year','region_name','staff_group'], suffixes=('', '_region'))

In [9]:
annual_df3.rename(columns={'denom_FTE_total': 'total_sip_FTE','denom_FTE_region':'sip_FTE_region'}, inplace=True)
annual_df3.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate,clinical,non-clinical,sip_FTE_region
0,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507,0.577655,0.422345,21026.73633
1,RYW,Central functions,2023-07-01,60.07332,63.52000,339.09167,MIDLANDS,483.531500,non-clinical,0.131367,0.124239,0.599197,0.400803,21026.73633
2,RYK,Central functions,2023-07-01,6.00000,5.00000,22.70667,MIDLANDS,20.586670,non-clinical,0.242876,0.291451,0.509536,0.490464,21026.73633
3,RYG,Central functions,2023-07-01,42.77333,40.58667,228.20186,MIDLANDS,233.115930,non-clinical,0.174105,0.183485,0.601556,0.398444,21026.73633
4,RYA,Central functions,2023-07-01,21.30000,31.54667,229.50426,MIDLANDS,222.146660,non-clinical,0.142008,0.095883,0.904498,0.095502,21026.73633

In [10]:
# replace inf values with nan (can happen with rate calcs)
# df4.replace([np.inf, -np.inf], np.nan, inplace=True)
# # transform nans to zeros
# df4.fillna(0, inplace=True)

# Add a small constant to avoid taking the log of zero
# small_constant = 1e-5
    
# # log scale the total_SIP_FTE column to be in line with other variables. proxy for size of organisation
# annual_df3['log_total_sip_FTE'] = np.log(annual_df3['total_sip_FTE'] + small_constant)

# # drop unused columns (keep total SIP FTE for calculating vacancy rates later)
# annual_df3.drop(['join_FTE','leave_FTE','denom_FTE','total_sip_FTE'], axis=1, inplace=True)

In [11]:
annual_df3.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate,clinical,non-clinical,sip_FTE_region
0,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507,0.577655,0.422345,21026.73633
1,RYW,Central functions,2023-07-01,60.07332,63.52000,339.09167,MIDLANDS,483.531500,non-clinical,0.131367,0.124239,0.599197,0.400803,21026.73633
2,RYK,Central functions,2023-07-01,6.00000,5.00000,22.70667,MIDLANDS,20.586670,non-clinical,0.242876,0.291451,0.509536,0.490464,21026.73633
3,RYG,Central functions,2023-07-01,42.77333,40.58667,228.20186,MIDLANDS,233.115930,non-clinical,0.174105,0.183485,0.601556,0.398444,21026.73633
4,RYA,Central functions,2023-07-01,21.30000,31.54667,229.50426,MIDLANDS,222.146660,non-clinical,0.142008,0.095883,0.904498,0.095502,21026.73633

The data show the full time equivalent (FTE) number of leavers by organisation and staff group for the previous 12-month period from the date. It also shows the number of staff in post (SIP) FTE averaged over the 12-month period to date.

In [12]:
sorted(annual_df1['staff_group'].unique())

['Ambulance staff',
 'Central functions',
 'HCHS doctors (exc. junior Drs)',
 'Hotel, property & estates',
 'Managers',
 'Midwives',
 'Nurses & health visitors',
 'Other staff or those with unknown classification',
 'Scientific, therapeutic & technical staff',
 'Senior managers',
 'Support to ST&T staff',
 'Support to ambulance staff',
 'Support to doctors, nurses & midwives']

## Load independent variable 1 - local unemployment

Load data about local unemployment so we can use it as a regressor

In [13]:
url_r1 = '../01_data/ONS_localunemployment_monthly.csv'
df_r1 = pd.read_csv(url_r1, parse_dates=['Date'])

df_r1.rename(columns={'%':'local_unemployment','Date':'month_year',
                      'NHSE region name':'region_name'},inplace=True)
df_r1 = df_r1.sort_values('month_year')
df_r1.tail()

     month_year region_name  local_unemployment
2619 2023-06-01      London              0.0480
2620 2023-06-01    Midlands              0.0455
2621 2023-06-01  North East              0.0520
2622 2023-06-01  North West              0.0530
2624 2023-06-01  South West              0.0360

## Load IV 2 - sickness absence

Load data about sickness absence to use as second regressor

In [14]:
url_r2 = '../01_data/sickness_benchmarking.csv'
df_r2 = pd.read_csv(url_r2, parse_dates=['DATE'])
trust_types_todrop = ['Clinical Commissioning Group','Integrated Care Board']
df_r2 = df_r2[~df_r2['CLUSTER_GROUP'].isin(trust_types_todrop)]
df_r2 = df_r2.drop(['BENCHMARK_GROUP','ORG_NAME',
                     'NHSE_REGION_CODE','CLUSTER_GROUP'],axis=1)
df_r2.rename(columns={'ORG_CODE':'org_code','DATE':'month_year',
                       'NHSE_REGION_NAME':'region_name','STAFF_GROUP':'staff_group',
                       'FTE_DAYS_LOST':'fte_days_lost','FTE_DAYS_AVAILABLE':'fte_days_available'},inplace=True)
merge_cols = ['month_year', 'org_code','region_name','staff_group']
df_r2['sickness_absence'] = df_r2['fte_days_lost']/df_r2['fte_days_available']
df_r2 = df_r2.reset_index(drop=True)
df_r2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192606 entries, 0 to 192605
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   month_year          192606 non-null  datetime64[ns]
 1   staff_group         192606 non-null  object
 2   file_date           192606 non-null  object
 3   org_code            192606 non-null  object
 4   region_name         192606 non-null  object
 5   fte_days_lost       166612 non-null  float64
 6   fte_days_available  166612 non-null  float64
 7   sickness_absence    166358 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 11.8+ MB

Create 12-month rolling sickness absence column for use with annual turnover data

In [15]:
df_r2['month_year'] = pd.to_datetime(df_r2['month_year'])

# Sort the DataFrame by organisation, staff_group, and month
df_r2.sort_values(by=['month_year'], inplace=True)

# # Calculate the rolling sums for days lost and days available
# df_r2['rolling_days_lost'] = df_r2.groupby(['org_code', 
#                         'staff_group'])['fte_days_lost'].rolling(window=12, min_periods=1).sum().reset_index(level=[0, 1], drop=True)

# df_r2['rolling_days_available'] = df_r2.groupby(['org_code', 
#                         'staff_group'])['fte_days_available'].rolling(window=12, min_periods=1).sum().reset_index(level=[0, 1], drop=True)

# # Calculate the rolling sickness absence rate
# df_r2['annual_sickness_absence'] = df_r2['rolling_days_lost'] / df_r2['rolling_days_available']

# drop fte_days_lost fte_days_available, rolling_days_available and rolling_days_lost columns
df_r2.drop(columns=['fte_days_lost', 'fte_days_available','file_date','region_name'], inplace=True)
#, 'rolling_days_available', 'rolling_days_lost'], inplace=True)

df_r2.head()

,month_year,staff_group,org_code,sickness_absence
192605,2018-04-01,Other staff or those with unknown classification,8JX76,NaN
167398,2018-04-01,Nurses & health visitors,RAT,0.051255
167399,2018-04-01,Other staff or those with unknown classification,RAT,NaN
167400,2018-04-01,"Scientific, therapeutic & technical staff",RAT,0.022210
167401,2018-04-01,Senior managers,RAT,0.010011

## Load IV 3 - reasons for sickness absence

Add data about reasons for sickness absence

In [16]:
url_r3 = '../01_data/sickness_absence_reason_pivot.csv'
df_r3 = pd.read_csv(url_r3, parse_dates=['Date'])
#df_r3 = df_r3.drop(['FTE days lost'],axis=1)
df_r3.rename(columns={'Date':'month_year','Staff group':'staff_group'},inplace=True)
#df_r2 = df_r2.reset_index(drop=True)

# drop least frequent reasons for absence
df_r3 = df_r3.drop(['substance_abus','asthma',
                    'dental','blood_disorder','endocrine',
                    'eye','skin_disorders','nervous_system',
                    'gynaecological','unknown','pregnancy_related',
                    'other'],axis=1)

# Replace NaN values with 0 
df_r3 = df_r3.fillna(0)
df_r3.info()
# national level data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413 entries, 0 to 1412
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month_year      1413 non-null   datetime64[ns]
 1   staff_group     1413 non-null   object
 2   anxiety_stress  1413 non-null   float64
 3   back_problems   1413 non-null   float64
 4   gastro          1413 non-null   float64
 5   headache_mig    1413 non-null   float64
 6   infectious_dis  1413 non-null   float64
 7   other_msk       1413 non-null   float64
 8   respiratory     1413 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 99.5+ KB

## Load IV 4 and 5 - staff vacancies

In [17]:
url_sg_ref = '../01_data/ref_sg_vacancy.csv'
df_sg_ref = pd.read_csv(url_sg_ref)
df_sg_ref.head()

,staff_group,vacancy_sg,all
0,Ambulance staff,Allied Health Professionals,All staff groups
1,Central functions,Administrative and Clerical,All staff groups
2,HCHS doctors (exc. junior Drs),Medical and Dental,All staff groups
3,"Hotel, property & estates",Estates and Ancillary,All staff groups
4,Managers,Administrative and Clerical,All staff groups

In [18]:
url_r4 = '../01_data/vacancy_ESR.csv'
df_r4 = pd.read_csv(url_r4,parse_dates=['month_year'],dayfirst=True)

df_r4 = df_r4.drop(['Published month','Published quarter','England'],axis=1)
df_r4.rename(columns={'NWD Staff Group':'vacancy_sg','NHS England region':'region_name',
                        'Vacancy Wte':'vacancy_FTE'},inplace=True)

df_r4 = df_r4.fillna(0)

# Remove code in brackets
df_r4['region_name'] = df_r4['region_name'].str[:-6].str.rstrip()

# Add staff groupings to match other datasets
df_r4 = pd.merge(df_r4, df_sg_ref, on='vacancy_sg',how='left')

df_r4 = df_r4.drop(['all'],axis=1)

df_r4.info()

# regional level

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8387 entries, 0 to 8386
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_year   8387 non-null   datetime64[ns]
 1   vacancy_sg   8387 non-null   object
 2   region_name  8387 non-null   object
 3   vacancy_FTE  8387 non-null   float64
 4   staff_group  7948 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 327.7+ KB

In [19]:
url_r5 = '../01_data/vacancy_TRAC.csv'
df_r5 = pd.read_csv(url_r5,parse_dates=['month_year'],dayfirst=True)

df_r5 = df_r5.drop(['Published month','Published quarter','England'],axis=1)

df_r5.rename(columns={'NWD Staff Group':'vacancy_sg','NHS England region':'region_name',
                        'Advertised FTE':'advertised_FTE'},inplace=True)

df_r5 = df_r5.fillna(0)

# Remove region code in brackets
df_r5['region_name'] = df_r5['region_name'].str[:-6].str.rstrip()

# Add staff groupings to match other datasets
df_r5 = pd.merge(df_r5, df_sg_ref, on='vacancy_sg',how='left')

df_r5 = df_r5.drop(['all'],axis=1)

# regional level

df_r5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4226 entries, 0 to 4225
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month_year      4226 non-null   datetime64[ns]
 1   vacancy_sg      4226 non-null   object
 2   region_name     4226 non-null   object
 3   advertised_FTE  4226 non-null   float64
 4   staff_group     3999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 165.2+ KB

## Load IV 6 - Reasons for leaving

In [20]:
url_r6 = '../01_data/rfl_jun23.csv'
df_r6_a = pd.read_csv(url_r6,parse_dates=['month_year'],dayfirst=True)

In [21]:
df_r6_a.head()

,quarter,month_year,rfl_death_in_service,rfl_dismissal,rfl_end_of_ft,rfl_flexibility,rfl_health,rfl_incompat_relations,rfl_other,rfl_pay_reward,rfl_pregnancy,rfl_progression_cpd,rfl_relocation,rfl_retirement,rfl_unknown,rfl_work_life_balance,rfl_workforce_transform,rfl_neg_RFL
0,Q1-2016-17,2016-04-01,0.01,0.03,0.09,0.02,0.02,0.01,0.0,0.11,0,0.03,0.12,0.16,0.21,0.10,0.09,0.33
1,Q1-2016-17,2016-05-01,0.01,0.03,0.09,0.02,0.02,0.01,0.0,0.11,0,0.03,0.12,0.16,0.21,0.10,0.09,0.33
2,Q1-2016-17,2016-06-01,0.01,0.03,0.09,0.02,0.02,0.01,0.0,0.11,0,0.03,0.12,0.16,0.21,0.10,0.09,0.33
3,Q2-2016-17,2016-07-01,0.00,0.02,0.34,0.01,0.01,0.01,0.0,0.08,0,0.05,0.09,0.10,0.15,0.06,0.08,0.24
4,Q2-2016-17,2016-08-01,0.00,0.02,0.34,0.01,0.01,0.01,0.0,0.08,0,0.05,0.09,0.10,0.15,0.06,0.08,0.24

In [22]:
# to_keep = ['month_year','rfl_dismissal','rfl_end_of_ft',
#             'rfl_flexibility','rfl_health','rfl_pay_reward','rfl_progression_cpd',
#             'rfl_relocation','rfl_retirement','rfl_work_life_balance','rfl_workforce_transform']
to_keep = ['month_year','rfl_neg_RFL']
df_r6 = df_r6_a[to_keep]
#df_r6 = df_r6_a
df_r6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   month_year   87 non-null     datetime64[ns]
 1   rfl_neg_RFL  87 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.5 KB

## Merge IV dfs to main df

In [23]:
annual_df3.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate,clinical,non-clinical,sip_FTE_region
0,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507,0.577655,0.422345,21026.73633
1,RYW,Central functions,2023-07-01,60.07332,63.52000,339.09167,MIDLANDS,483.531500,non-clinical,0.131367,0.124239,0.599197,0.400803,21026.73633
2,RYK,Central functions,2023-07-01,6.00000,5.00000,22.70667,MIDLANDS,20.586670,non-clinical,0.242876,0.291451,0.509536,0.490464,21026.73633
3,RYG,Central functions,2023-07-01,42.77333,40.58667,228.20186,MIDLANDS,233.115930,non-clinical,0.174105,0.183485,0.601556,0.398444,21026.73633
4,RYA,Central functions,2023-07-01,21.30000,31.54667,229.50426,MIDLANDS,222.146660,non-clinical,0.142008,0.095883,0.904498,0.095502,21026.73633

In [24]:
sorted(annual_df3['staff_group'].unique())

['Ambulance staff',
 'Central functions',
 'HCHS doctors (exc. junior Drs)',
 'Hotel, property & estates',
 'Managers',
 'Midwives',
 'Nurses & health visitors',
 'Other staff or those with unknown classification',
 'Scientific, therapeutic & technical staff',
 'Senior managers',
 'Support to ST&T staff',
 'Support to ambulance staff',
 'Support to doctors, nurses & midwives']

In [25]:
# # ref table with org information
# url_ref_org = '../01_data/REF_ORGANISATION.csv'
# ref_org = pd.read_csv(url_ref_org)

# ref_org = ref_org.drop(['Org_Open_Date','Org_Close_Date', 'Org_Name','Org_Type',
#                         'Org_Code_For_Use','Org_Name_For_Use','Org_Status',
#                         'Legacy_Org_Close_Date','UDALFileID','Org_System_Name',
#                         ' NHS Provider flag ',' Total WTE recorded '],axis=1)

# ref_org.rename(columns={'Org_Code_For_Join':'org_code','Org_Type_Grouped':'org_type'},inplace=True)

# ref_org.info()

In [26]:
#def merge_ivs(df, ref_org, df_r1, df_r2, df_r3,df_r4,df_r5,df_r6):
    # org reference data
#df1 = pd.merge(annual_df3, ref_org, on=['org_code'],how='left')

In [27]:
# convert region_name to all upper case
df_r1['region_name'] = df_r1['region_name'].str.upper()
df_r1['region_name'].unique()

array(['EAST OF ENGLAND', 'LONDON', 'MIDLANDS', 'NORTH EAST',
       'NORTH WEST', 'SOUTH EAST', 'SOUTH WEST'], dtype=object)

In [28]:
# local unemployment rate
df1 = pd.merge(annual_df3, df_r1, on=['month_year', 'region_name'],how='left')
df1 = df1.sort_values('month_year')

In [29]:
# sickness absence
r2_merge_cols = ['month_year', 'org_code','staff_group']
df2 = pd.merge(df1, df_r2, on=r2_merge_cols,how='left')

In [30]:
df2.tail()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,joiner_rate,clinical,non-clinical,sip_FTE_region,local_unemployment,sickness_absence
212351,RR7,"Support to doctors, nurses & midwives",2023-07-01,210.19465,141.23079,1138.84478,NORTH EAST AND YORKSHIRE,1115.710590,clinical,0.126584,0.188395,0.592948,0.407052,58157.37682,NaN,0.069050
212352,RP5,"Support to doctors, nurses & midwives",2023-07-01,270.01464,122.50665,1325.36765,NORTH EAST AND YORKSHIRE,1268.898895,clinical,0.096546,0.212794,0.582598,0.417402,58157.37682,NaN,0.076689
212353,RNN,"Support to doctors, nurses & midwives",2023-07-01,421.44452,138.48668,1678.37333,NORTH EAST AND YORKSHIRE,1630.333475,clinical,0.084944,0.258502,0.642758,0.357242,58157.37682,NaN,0.054363
212354,RTF,"Support to doctors, nurses & midwives",2023-07-01,309.41073,203.43067,1910.07865,NORTH EAST AND YORKSHIRE,1881.297560,clinical,0.108133,0.164467,0.588138,0.411862,58157.37682,NaN,0.068247
212355,TAJ,Central functions,2023-07-01,42.25333,35.56669,278.88667,MIDLANDS,273.472425,non-clinical,0.130056,0.154507,0.577655,0.422345,21026.73633,NaN,0.023288

In [31]:
# reason for sickness absence
r3_merge_cols = ['month_year','staff_group']
df3 = pd.merge(df2, df_r3, on=r3_merge_cols,how='left')

In [32]:
df3.head()

,org_code,staff_group,month_year,join_FTE,leave_FTE,denom_FTE,region_name,denom_FTE_mean,grouped_sg,leaver_rate,...,sip_FTE_region,local_unemployment,sickness_absence,anxiety_stress,back_problems,gastro,headache_mig,infectious_dis,other_msk,respiratory
0,R1H,Midwives,2017-04-01,0.0,0.0,549.96616,LONDON,549.96616,clinical,0.0,...,5512.35267,0.054,NaN,0.286536,0.067674,0.082077,0.023262,0.01380,0.143418,0.033310
1,RWW,Ambulance staff,2017-04-01,0.0,0.0,1.00000,NORTH WEST,1.00000,clinical,0.0,...,3225.55901,0.043,NaN,0.257249,0.124520,0.085541,0.016720,0.00223,0.119982,0.033138
2,RWJ,Ambulance staff,2017-04-01,0.0,0.0,1.00000,NORTH WEST,1.00000,clinical,0.0,...,3225.55901,0.043,NaN,0.257249,0.124520,0.085541,0.016720,0.00223,0.119982,0.033138
3,RM3,Ambulance staff,2017-04-01,0.0,0.0,1.53333,NORTH WEST,1.53333,clinical,0.0,...,3225.55901,0.043,NaN,0.257249,0.124520,0.085541,0.016720,0.00223,0.119982,0.033138
4,RM3,Ambulance staff,2017-04-01,0.0,0.0,1.53333,NORTH WEST,1.53333,clinical,0.0,...,3225.55901,0.043,NaN,0.257249,0.124520,0.085541,0.016720,0.00223,0.119982,0.033138

In [33]:
# vacancy - need to calculate rate at regional level here
# use sip_FTE_region calculated earlier
r4_merge_cols = ['month_year','region_name','staff_group']

df_r4['region_name'] = df_r4['region_name'].str.upper()

df4 = pd.merge(df3, df_r4, on=r4_merge_cols,how='left')

df4.drop(columns=['vacancy_sg'], inplace=True)

df4['vacancy_rate'] = df4['vacancy_FTE'] / df4['sip_FTE_region']

In [34]:
df4.drop(columns=['sip_FTE_region','vacancy_FTE'], inplace=True)

In [35]:
# reasons for leaving
df6 = pd.merge(df4, df_r6, on='month_year',how='left')

In [36]:
# drop pre-2019 data - missing for most variables and messes up date dummies
df6 = df6[df6['month_year'] > '2018-12-31']

In [37]:
# add region, year and quarter as dummy variables

# add region as dummy variable
df6 = pd.get_dummies(df6, columns=['region_name'], drop_first=True)

# Extract year and quarter from month_year
df6['year'] = df6['month_year'].dt.year
df6['quarter'] = df6['month_year'].dt.quarter

df6 = pd.get_dummies(df6, columns=['year'], prefix='year', drop_first=True)
df6 = pd.get_dummies(df6, columns=['quarter'], prefix='q', drop_first=True)

# Convert True/False dummy variable categories to integer 0/1
bool_columns = df6.select_dtypes(include='bool').columns
df6[bool_columns] = df6[bool_columns].astype(int)

In [38]:

# replaces nans with zeros
df6.fillna(0, inplace=True)

In [39]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154195 entries, 58161 to 212355
Data columns (total 36 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   org_code                              154195 non-null  object
 1   staff_group                           154195 non-null  object
 2   month_year                            154195 non-null  datetime64[ns]
 3   join_FTE                              154195 non-null  float64
 4   leave_FTE                             154195 non-null  float64
 5   denom_FTE                             154195 non-null  float64
 6   denom_FTE_mean                        154195 non-null  float64
 7   grouped_sg                            154195 non-null  object
 8   leaver_rate                           154195 non-null  float64
 9   joiner_rate                           154195 non-null  float64
 10  clinical                              154195 non-null  float64
 11  non-clinical                          154195 non-null  float64
 12  local_unemployment                    154195 non-null  float64
 13  sickness_absence                      154195 non-null  float64
 14  anxiety_stress                        154195 non-null  float64
 15  back_problems                         154195 non-null  float64
 16  gastro                                154195 non-null  float64
 17  headache_mig                          154195 non-null  float64
 18  infectious_dis                        154195 non-null  float64
 19  other_msk                             154195 non-null  float64
 20  respiratory                           154195 non-null  float64
 21  vacancy_rate                          154195 non-null  float64
 22  rfl_neg_RFL                           154195 non-null  float64
 23  region_name_LONDON                    154195 non-null  int32
 24  region_name_MIDLANDS                  154195 non-null  int32
 25  region_name_NORTH EAST AND YORKSHIRE  154195 non-null  int32
 26  region_name_NORTH WEST                154195 non-null  int32
 27  region_name_SOUTH EAST                154195 non-null  int32
 28  region_name_SOUTH WEST                154195 non-null  int32
 29  year_2020                             154195 non-null  int32
 30  year_2021                             154195 non-null  int32
 31  year_2022                             154195 non-null  int32
 32  year_2023                             154195 non-null  int32
 33  q_2                                   154195 non-null  int32
 34  q_3                                   154195 non-null  int32
 35  q_4                                   154195 non-null  int32
dtypes: datetime64[ns](1), float64(19), int32(13), object(3)
memory usage: 35.9+ MB

In [101]:
# Need to cut dataframe to earliest and latest data available for all fields. 
# Do this by cutting rows where all values for key variables are zero
df7 = df6[~((df6['leaver_rate'] == 0) | (df6['joiner_rate'] == 0) | (df6['sickness_absence'] == 0))]

In [102]:
df7 = df7[~((df7['rfl_neg_RFL'] == 0))]

df7 = df7[~((df7['local_unemployment'] == 0))]

df7 = df7[~((df7['anxiety_stress'] == 0)| (df7['vacancy_rate'] == 0)
            | (df7['respiratory'] == 0))]

In [103]:
# drop duplicates
df7.drop_duplicates(inplace=True)

In [104]:
#annual_df_ivs = merge_ivs(annual_df3,ref_org,df_r1, df_r2, df_r3,df_r4,df_r5,df_r6)
#monthly_df_ivs = merge_ivs(monthly_df1,df_r1, df_r2, df_r3,df_r4,df_r5,df_r6)

In [149]:
# create copy of df7 and name annual_df_ivs
annual_df_ivs = df7.copy()

In [150]:
annual_df_ivs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78885 entries, 58162 to 201498
Data columns (total 36 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   org_code                              78885 non-null  object
 1   staff_group                           78885 non-null  object
 2   month_year                            78885 non-null  datetime64[ns]
 3   join_FTE                              78885 non-null  float64
 4   leave_FTE                             78885 non-null  float64
 5   denom_FTE                             78885 non-null  float64
 6   denom_FTE_mean                        78885 non-null  float64
 7   grouped_sg                            78885 non-null  object
 8   leaver_rate                           78885 non-null  float64
 9   joiner_rate                           78885 non-null  float64
 10  clinical                              78885 non-null  float64
 11  non-clinical                          78885 non-null  float64
 12  local_unemployment                    78885 non-null  float64
 13  sickness_absence                      78885 non-null  float64
 14  anxiety_stress                        78885 non-null  float64
 15  back_problems                         78885 non-null  float64
 16  gastro                                78885 non-null  float64
 17  headache_mig                          78885 non-null  float64
 18  infectious_dis                        78885 non-null  float64
 19  other_msk                             78885 non-null  float64
 20  respiratory                           78885 non-null  float64
 21  vacancy_rate                          78885 non-null  float64
 22  rfl_neg_RFL                           78885 non-null  float64
 23  region_name_LONDON                    78885 non-null  int32
 24  region_name_MIDLANDS                  78885 non-null  int32
 25  region_name_NORTH EAST AND YORKSHIRE  78885 non-null  int32
 26  region_name_NORTH WEST                78885 non-null  int32
 27  region_name_SOUTH EAST                78885 non-null  int32
 28  region_name_SOUTH WEST                78885 non-null  int32
 29  year_2020                             78885 non-null  int32
 30  year_2021                             78885 non-null  int32
 31  year_2022                             78885 non-null  int32
 32  year_2023                             78885 non-null  int32
 33  q_2                                   78885 non-null  int32
 34  q_3                                   78885 non-null  int32
 35  q_4                                   78885 non-null  int32
dtypes: datetime64[ns](1), float64(19), int32(13), object(3)
memory usage: 18.4+ MB

In [151]:
# drop columns from annual_df_ivs_lags
annual_df_ivs.drop(columns=['join_FTE','leave_FTE','denom_FTE','denom_FTE_mean',
                                 'non-clinical'], inplace=True)

In [107]:
annual_df_ivs.to_csv(f'annual_modelling_data.csv', index=False)

## Lag dependent variables

In [152]:
# sort dataframe by org_code and month_year
annual_df_ivs.sort_values(by=['org_code','staff_group','month_year'], inplace=True)

In [110]:
# lag period of 12 months
lag_period = 12

In [111]:
# # lag independent variables in annual_df_ivs
# annual_df_ivs['lag_leaver_rate'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['leaver_rate'].shift(lag_period)
# annual_df_ivs['lag_joiner_rate'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['joiner_rate'].shift(lag_period)
# annual_df_ivs['lag_sickness_absence'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['sickness_absence'].shift(lag_period)
# annual_df_ivs['lag_rfl_neg_RFL'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['rfl_neg_RFL'].shift(lag_period)
# annual_df_ivs['lag_anxiety_stress'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['anxiety_stress'].shift(lag_period)
# annual_df_ivs['local_unemployment'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['anxiety_stress'].shift(lag_period)
# annual_df_ivs['lag_vacancy_rate'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['vacancy_rate'].shift(lag_period)
# annual_df_ivs['lag_respiratory'] = annual_df_ivs.groupby(['org_code', 'staff_group'])['respiratory'].shift(lag_period)

In [ ]:
columns_to_lag = ['joiner_rate','sickness_absence','rfl_neg_RFL',
                  'clinical','back_problems','gastro','headache_mig',
                  'local_unemployment','anxiety_stress','vacancy_rate','respiratory',
                  'infectious_dis','other_']

In [113]:
def lag_variables(dataframe, lag_period, columns_to_lag, groupby_columns=['org_code', 'staff_group']):
    """
    Lag specified columns in a DataFrame based on the given lag period and groupby columns.

    Parameters:
    - dataframe: pd.DataFrame
        The DataFrame containing the data.
    - lag_period: int
        The number of periods to lag.
    - columns_to_lag: list
        List of column names to lag.
    - groupby_columns: list, optional
        List of column names to use for grouping. Default is ['org_code', 'staff_group'].

    Returns:
    - pd.DataFrame
        The DataFrame with lagged columns added.
    """
    for column in columns_to_lag:
        lag_column_name = f'lag_{column}'
        dataframe[lag_column_name] = dataframe.groupby(groupby_columns)[column].shift(lag_period)

    return dataframe

In [114]:
annual_df_ivs_lags = lag_variables(annual_df_ivs, lag_period, columns_to_lag)

In [115]:
annual_df_ivs_lags.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78885 entries, 61059 to 200943
Data columns (total 42 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   org_code                              78885 non-null  object
 1   staff_group                           78885 non-null  object
 2   month_year                            78885 non-null  datetime64[ns]
 3   grouped_sg                            78885 non-null  object
 4   leaver_rate                           78885 non-null  float64
 5   joiner_rate                           78885 non-null  float64
 6   clinical                              78885 non-null  float64
 7   local_unemployment                    78885 non-null  float64
 8   sickness_absence                      78885 non-null  float64
 9   anxiety_stress                        78885 non-null  float64
 10  back_problems                         78885 non-null  float64
 11  gastro                                78885 non-null  float64
 12  headache_mig                          78885 non-null  float64
 13  infectious_dis                        78885 non-null  float64
 14  other_msk                             78885 non-null  float64
 15  respiratory                           78885 non-null  float64
 16  vacancy_rate                          78885 non-null  float64
 17  rfl_neg_RFL                           78885 non-null  float64
 18  region_name_LONDON                    78885 non-null  int32
 19  region_name_MIDLANDS                  78885 non-null  int32
 20  region_name_NORTH EAST AND YORKSHIRE  78885 non-null  int32
 21  region_name_NORTH WEST                78885 non-null  int32
 22  region_name_SOUTH EAST                78885 non-null  int32
 23  region_name_SOUTH WEST                78885 non-null  int32
 24  year_2020                             78885 non-null  int32
 25  year_2021                             78885 non-null  int32
 26  year_2022                             78885 non-null  int32
 27  year_2023                             78885 non-null  int32
 28  q_2                                   78885 non-null  int32
 29  q_3                                   78885 non-null  int32
 30  q_4                                   78885 non-null  int32
 31  lag_joiner_rate                       58714 non-null  float64
 32  lag_sickness_absence                  58714 non-null  float64
 33  lag_rfl_neg_RFL                       58714 non-null  float64
 34  lag_clinical                          58714 non-null  float64
 35  lag_back_problems                     58714 non-null  float64
 36  lag_gastro                            58714 non-null  float64
 37  lag_headache_mig                      58714 non-null  float64
 38  lag_local_unemployment                58714 non-null  float64
 39  lag_anxiety_stress                    58714 non-null  float64
 40  lag_vacancy_rate                      58714 non-null  float64
 41  lag_respiratory                       58714 non-null  float64
dtypes: datetime64[ns](1), float64(25), int32(13), object(3)
memory usage: 22.0+ MB

In [132]:
# cut rows where lag_sickness_absence is nan
annual_df_ivs_lags = annual_df_ivs_lags[~annual_df_ivs_lags['lag_sickness_absence'].isna()]

In [145]:
annual_df_ivs_lags.to_csv(f'annual_modelling_data_wlags.csv', index=False)

## OLS multiple regression

### Annual data

Specify the dependent variable (dv). All other fields to be dropped.

In [153]:
dv = 'leaver_rate'
to_drop = ['month_year','org_code','staff_group','grouped_sg',
           'gastro','other_msk','other','infectious_dis','respiratory',
           dv]
        #    'joiner_rate','sickness_absence','rfl_neg_RFL',
        #    'clinical','back_problems','gastro','headache_mig',
        #    'local_unemployment','anxiety_stress','vacancy_rate','respiratory',
        #    'infectious_dis','other_msk',                          
        #    dv]

Define the design matrix (X) and the dependent variable (y)

In [154]:
annual_df_ivs.reset_index(drop = True)
X = annual_df_ivs.drop(to_drop, axis=1)
y = annual_df_ivs[dv]

y.head()

61059   0.147
62790   0.144
64237   0.130
69442   0.133
72271   0.128
Name: leaver_rate, dtype: float64

In [155]:
# Add a constant column to the design matrix
X = sm.add_constant(X)

X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78885 entries, 61059 to 200943
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   const                                 78885 non-null  float64
 1   joiner_rate                           78885 non-null  float64
 2   clinical                              78885 non-null  float64
 3   local_unemployment                    78885 non-null  float64
 4   sickness_absence                      78885 non-null  float64
 5   anxiety_stress                        78885 non-null  float64
 6   back_problems                         78885 non-null  float64
 7   gastro                                78885 non-null  float64
 8   headache_mig                          78885 non-null  float64
 9   infectious_dis                        78885 non-null  float64
 10  other_msk                             78885 non-null  float64
 11  respiratory                           78885 non-null  float64
 12  vacancy_rate                          78885 non-null  float64
 13  rfl_neg_RFL                           78885 non-null  float64
 14  region_name_LONDON                    78885 non-null  int32
 15  region_name_MIDLANDS                  78885 non-null  int32
 16  region_name_NORTH EAST AND YORKSHIRE  78885 non-null  int32
 17  region_name_NORTH WEST                78885 non-null  int32
 18  region_name_SOUTH EAST                78885 non-null  int32
 19  region_name_SOUTH WEST                78885 non-null  int32
 20  year_2020                             78885 non-null  int32
 21  year_2021                             78885 non-null  int32
 22  year_2022                             78885 non-null  int32
 23  year_2023                             78885 non-null  int32
 24  q_2                                   78885 non-null  int32
 25  q_3                                   78885 non-null  int32
 26  q_4                                   78885 non-null  int32
dtypes: float64(14), int32(13)
memory usage: 12.9 MB

In [156]:
# Fit the regression model
model = sm.OLS(y, X)
results = model.fit()

# Print the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            leaver_rate   R-squared:                       0.131
Model:                            OLS   Adj. R-squared:                  0.131
Method:                 Least Squares   F-statistic:                     474.8
Date:                Fri, 08 Dec 2023   Prob (F-statistic):               0.00
Time:                        14:13:23   Log-Likelihood:             1.1212e+05
No. Observations:               78885   AIC:                        -2.242e+05
Df Residuals:                   78859   BIC:                        -2.239e+05
Df Model:                          25
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                   -0.1422      0.008    -17.880      0.000      -0.158      -0.127
joiner_rate                              0.0360      0.002     18.745      0.000       0.032       0.040
clinical                                -0.0319      0.003    -11.160      0.000      -0.037      -0.026
local_unemployment                      -0.1562      0.049     -3.181      0.001      -0.252      -0.060
sickness_absence                         0.0132      0.011      1.173      0.241      -0.009       0.035
anxiety_stress                           0.2804      0.008     33.788      0.000       0.264       0.297
back_problems                           -0.0499      0.025     -2.023      0.043      -0.098      -0.002
gastro                                   0.7526      0.024     31.263      0.000       0.705       0.800
headache_mig                             0.6086      0.047     12.887      0.000       0.516       0.701
infectious_dis                           0.1032      0.012      8.366      0.000       0.079       0.127
other_msk                                0.1304      0.015      8.433      0.000       0.100       0.161
respiratory                              0.3653      0.014     25.617      0.000       0.337       0.393
vacancy_rate                             0.0549      0.003     19.303      0.000       0.049       0.060
rfl_neg_RFL                              0.2089      0.015     13.884      0.000       0.179       0.238
region_name_LONDON                       0.0219      0.001     19.977      0.000       0.020       0.024
region_name_MIDLANDS                    -0.0141      0.001    -16.170      0.000      -0.016      -0.012
region_name_NORTH EAST AND YORKSHIRE -2.438e-16    8.5e-17     -2.868      0.004    -4.1e-16   -7.72e-17
region_name_NORTH WEST                  -0.0068      0.001     -7.967      0.000      -0.008      -0.005
region_name_SOUTH EAST                  -0.0036      0.001     -4.586      0.000      -0.005      -0.002
region_name_SOUTH WEST                  -0.0151      0.001    -16.805      0.000      -0.017      -0.013
year_2020                               -0.0088      0.001    -10.248      0.000      -0.011      -0.007
year_2021                               -0.0233      0.001    -22.344      0.000      -0.025      -0.021
year_2022                               -0.0022      0.001     -1.888      0.059      -0.004    8.24e-05
year_2023                               -0.0136      0.002     -8.616      0.000      -0.017      -0.010
q_2                                     -0.0025      0.001     -3.647      0.000      -0.004      -0.001
q_3                                      0.0132      0.001     12.387      0.000       0.011       0.015
q_4                                     -0.0115      0.001    -11.382      0.000      -0.013      -0.010
==============================================================================
Omnibus:                    75137.231   Durbin-Watson:                   0.233
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8704487.576
Skew:                           4.298   Prob(JB):                         0.00
Kurtosis:                      53.738   Cond. No.                     1.36e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.48e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [158]:
# Convert the regression results summary to a DataFrame
results_df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0]

In [159]:
# show values in standard notation
pd.options.display.float_format = '{:.3f}'.format
results_df.sort_values(by='coef')

,coef,std err,t,P>|t|,[0.025,0.975]
local_unemployment,-0.156,0.049,-3.181,0.001,-0.252,-0.060
const,-0.142,0.008,-17.880,0.000,-0.158,-0.127
back_problems,-0.050,0.025,-2.023,0.043,-0.098,-0.002
clinical,-0.032,0.003,-11.160,0.000,-0.037,-0.026
year_2021,-0.023,0.001,-22.344,0.000,-0.025,-0.021
region_name_SOUTH WEST,-0.015,0.001,-16.805,0.000,-0.017,-0.013
region_name_MIDLANDS,-0.014,0.001,-16.170,0.000,-0.016,-0.012
year_2023,-0.014,0.002,-8.616,0.000,-0.017,-0.010
q_4,-0.011,0.001,-11.382,0.000,-0.013,-0.010
year_2020,-0.009,0.001,-10.248,0.000,-0.011,-0.007
region_name_NORTH WEST,-0.007,0.001,-7.967,0.000,-0.008,-0.005
region_name_SOUTH EAST,-0.004,0.001,-4.586,0.000,-0.005,-0.002
q_2,-0.003,0.001,-3.647,0.000,-0.004,-0.001
year_2022,-0.002,0.001,-1.888,0.059,-0.004,0.000
region_name_NORTH EAST AND YORKSHIRE,-0.000,0.000,-2.868,0.004,-0.000,-0.000
q_3,0.013,0.001,12.387,0.000,0.011,0.015
sickness_absence,0.013,0.011,1.173,0.241,-0.009,0.035
region_name_LONDON,0.022,0.001,19.977,0.000,0.020,0.024
joiner_rate,0.036,0.002,18.745,0.000,0.032,0.040
vacancy_rate,0.055,0.003,19.303,0.000,0.049,0.060
infectious_dis,0.103,0.012,8.366,0.000,0.079,0.127
other_msk,0.130,0.015,8.433,0.000,0.100,0.161
rfl_neg_RFL,0.209,0.015,13.884,0.000,0.179,0.238
anxiety_stress,0.280,0.008,33.788,0.000,0.264,0.297
respiratory,0.365,0.014,25.617,0.000,0.337,0.393
headache_mig,0.609,0.047,12.887,0.000,0.516,0.701
gastro,0.753,0.024,31.263,0.000,0.705,0.800

In [ ]:
# Export the DataFrame to a CSV file
results_df.to_csv("annual_regression_results.csv")

### Monthly data

In [54]:
# dv = 'leaver_rate'
# to_drop = ['month_year','org_code','staff_group','annual_sickness_absence',
#            dv]

# monthly_df_ivs.reset_index(drop = True)
# X = monthly_df_ivs.drop(to_drop, axis=1)
# y = monthly_df_ivs[dv]

# #y = y.dropna()

# y.head()

In [55]:
# # Add a constant column to the design matrix
# X = sm.add_constant(X)

# X.tail()

In [56]:
# # Fit the regression model
# model = sm.OLS(y, X)
# monthly_results = model.fit()

# # Print the regression results
# print(monthly_results.summary())

In [57]:
# # Convert the regression results summary to a DataFrame
# monthly_results_df = pd.read_html(monthly_results.summary().tables[1].as_html(), header=0, index_col=0)[0]

# # Export the DataFrame to a CSV file
# monthly_results_df.to_csv("monthly_regression_results.csv")